body{
    background-color: darkgray;
}

.message {
    font-weight: 600;
    color: blue;
}
.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    background-image: url('mountain.jpg');
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.button + label {
    font-size: 2em;
    font-weight: 700;
    color: white;
    background-color: grey;
    border-radius: 10px;
    display: inline-block;
}

.button:focus + label,
.button + label:hover {
    background-color: lightslategrey;
}

.submit {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.submit + label{
    font-size: 2em;
    font-weight: 700;
    color: white;
    background-color: grey;
    border-radius: 10px;
    display: inline-block;
}

.submit:focus + label,
.submit + label:hover{
    background-color: lightslategrey;
}