{% extends "layout.html" %}
{% block title %}
About us
{% endblock %}
{% block content %}
<p>Made by Jacob Fehn.</p>
<a href="mailto: ge75xos@mytum.de?subject=About the process mining webservice">ge75xos@mytum.de</a>
<br>
<br>
<br>
<p>Created as part of the bachelor thesis: TODO.</p>
<p>More information TODO.</p>
{% endblock %}