{% extends "layout.html" %}
{% block title %}
About us
{% endblock %}
{% block content %}
<p>Made by Jacob Fehn.</p>
<a href="mailto: ge75xos@mytum.de?subject=About the process mining webservice">ge75xos@mytum.de</a>
<br>
<br>
<br>
<p>Created as part of the bachelor thesis: Automated Change Identification and Classification for Legal Documents and Their Amendments.</p>
<p>More information are found on <a href="https://github.com/affentypi/Webservice_Thesis">this git repository</a> . </p>
{% endblock %}