{% extends "layout.html" %}
{% block title %}
    Error
{% endblock %}
{% block content %}
    <p>Hi.</p>
    <a>The query failed because ...</a>
    <div class="card">
        <div class="card-body">
            <div class="text-black-50">{{ exception }}</div>
        </div>
    </div>

{% endblock %}