{% extends "layout.html" %}
{% block title %}
    Hello There
{% endblock %}
{% block content %}
    <p>Hi.</p>
    <div class="card">
        <div class="card-body">
            <div class="text-black-50"> Grey Text</div>
            <b>Big Text</b>
            <br>
            <s>Striked Text</s>
            <br>
        </div>
    </div>

{% endblock %}