{% extends "layout.html" %}
{% block title %}
    Hello There
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            This is the web service prototype for extracting information from changes in legal document from <a href="https://eur-lex.europa.eu/">EURLex</a>.
            The implementation is explained in the according thesis <strong>"Automated Change Identification and Classification for Legal Documents and Their Amendments"</strong>.
            <br>
            Written at the <strong>Chair of Information Systems and Business Process Management (i17) </strong> at <strong> TUM School of Computation, Information and Technology </strong>.
            <br>
            <br>
            The usage is explained <a href="{{ url_for('explanation') }}">here</a>.
        </div>
    </div>

{% endblock %}