<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="icon" href="/static/search_icon.png">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('home') }}">
        <img src="/static/pc_icon.png" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
        Thesis
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('explanation') }}">Explanation</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Input Legal Doc
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('twoLinks') }}">Standard</a></li>
            <li><a class="dropdown-item" href="{{ url_for('oneLink') }}">One Link</a></li>
            <li><a class="dropdown-item" href="{{ url_for('celex') }}">CELEX Number</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="alert alert-info" role="alert">
    <a>This is the web service for the bachelor thesis "Classification of Updates in Legal Documents and Information Extraction"</a>
    <br>
</div>

<div class="container-fluid">
    {% block content %}
    {% endblock %}
    <hr/>
    <footer>
        <p>&copy; 2023</p>
    </footer>
</div>

</body>
</html>