{% extends "layout.html" %}
{% block title %}
Two Links
{% endblock %}
{% block content %}
<form action="/twoLinks/" target="_blank" method = "post">
  <div class="row mb-3">
    <label for="inputOld3" class="col-sm-2 col-form-label">Old Version of the legal doc</label>
    <div class="col-sm-10">
      <input type="text" name="old">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputNew3" class="col-sm-2 col-form-label">New Version of the legal doc</label>
    <div class="col-sm-10">
      <input type="text" name="new">
    </div>
  </div>
  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="fast" value="fast" autocomplete="off" checked>
    <label class="btn btn-outline-primary" for="fast">Fast</label>

    <input type="radio" class="btn-check" name="btnradio" id="accurate" value="accurate" autocomplete="off">
    <label class="btn btn-outline-primary" for="accurate">Accurate</label>
  </div>
    <br>
    <br>
    <br>
  <button type="submit" class="btn btn-primary">Start</button>
</form>
{% endblock %}